<div id="cuerpo"><br>
    <h1 id="titulo" text-aling="center" class="h3 mb-4 text-gray-800">Inscripción</h1>
    <hr>
    <div class="card shadow mb-4">
      <nav id="paginacion" aria-label="Page navigation example">
        <ul class="pagination">
          <li id="boton" class="page-item"><a class="page-link" href="/inscripcion">Eventos</a></li>
          <li id="boton" class="page-item"><a class="page-link" href="/inscripcionDatos">Datos Personales</a></li>
        </ul>
      </nav>
      <form id="form" class="form was-validated">
        <!-------------------------------------------Datos Personales------------------------------------------>
        <div class="mb-3 mt-3">
          <label for="uname"  class="form-label">Nombre(s):</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Nombre_Asistente" class="form-control" id="uname" placeholder="Ingresa tu nombre(s)" name="uname" required>
          <label for="uname" class="form-label">Apellido Paterno:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Ap_Paterno" class="form-control" id="uname" placeholder="Ingresa tu apellido paterno)" name="uname" required>
          <label for="uname" class="form-label">Apellido Materno:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Ap_Materno" class="form-control" id="uname" placeholder="Ingresa tu apellido materno" name="uname"
            required>
          <div class="valid-feedback">Valido</div>
          <div class="invalid-feedback">Llena este campo</div>
        </div>
  
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Correo Electronico:</label>
          <input type="email" pattern=".+@globex\.com" [(ngModel)]="RegistroAsistente.Correo_Asistente" class="form-control" id="email" placeholder="Ingresa un correo electronico" name="email"
            required>
          <div class="valid-feedback">Valido</div>
          <div class="invalid-feedback">Llena este campo</div>
        </div>
  
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Campus:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Campus_Asistente" class="form-control" id="uname" placeholder="Ingresa la clave del grupo" name="uname"
            required>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1" >Campus "Dolores Hidalgo"</option>
            <option value="0" >Campus "Victoria"</option>
          </select>
        </div>
  
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Programa Educativo:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Programa_Educativo" class="form-control" id="uname" placeholder="Ingresa la clave del grupo" name="uname"
            required>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Escolarizado</option>
            <option value="0">Semiescolarizado</option>
          </select>
        </div>
  
        <div class="mb-3 mt-3">
          <label for="uname" class="form-label">Clave del grupo:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Id_Grupo" class="form-control" id="uname" placeholder="Ingresa la clave del grupo" name="uname"
            required>
          <div class="valid-feedback">Valido</div>
          <div class="invalid-feedback">Llena este campo</div>
        </div>
  
        <div class="mb-3 mt-3">
          <label for="uname" class="form-label">Clave de la carrera:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Id_Carrera" class="form-control" id="uname" placeholder="Ingresa la clave de la carrera" name="uname"
            required>
          <div class="valid-feedback">Valido</div>
          <div class="invalid-feedback">Llena este campo</div>
        </div>
  
        <div class="mb-3 mt-3">
          <label for="uname" class="form-label">Numero de Telefono:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Tel_Asistente" class="form-control" id="uname" placeholder="Ingresa tu numero de telefono" name="uname"
            required>
          <div class="valid-feedback">Valido</div>
          <div class="invalid-feedback">Llena este campo</div>
        </div>

        <div class="mb-3 mt-3">
          <label for="uname" class="form-label">QR:</label>
          <input type="text" [(ngModel)]="RegistroAsistente.Codigo_Acceso" class="form-control" id="uname" placeholder="Ingresa tu codigo de acceso" name="uname"
            required>
          <div class="valid-feedback">Valido</div>
          <div class="invalid-feedback">Llena este campo</div>
        </div>


      <p id="centrado">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <a href="/asistente" class="btn btn-primary" for="btnradio2"><span>Codigo QR</span></a>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>

      </p><br>

        <p id="centrado">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop" (click)="saveNewAsistente()" onclick="location.href='/convocatoria'">Aceptar</button>
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <button class="btn btn-outline-warning" for="btnradio2" onclick="location.href='/convocatoria'">Cancelar</button>
        </p>

        <!-- Button trigger modal -->

      <!-- Modal --><!--
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="textModal">Tu registro se a creado exitosamente.<br>
              <hr><br>Se a enviado tu código de acceso a través de tu correo electrónico.
            
          </div>
          <div class="modal-footer">
            <button id="botoncerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>-->
      </form>
    </div><br><br>
  </div>



