
.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #3e14b2;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}


.bshadow {

    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    opacity: .5;
  
  }
  
  textarea {
      margin-top: 15px; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      opacity: .5;
  }