<body><br>
    <div class="container-fluid" id="cuerpo">
      <h1 id="titulo" text-aling="center" class="h3 mb-4 text-gray-800">Registra tu asistencia</h1>
      <hr>
    <br>
    <div class="card shadow mb-4">
      <form >
        <div class="mb-3 mt-3">
          <label for="Id_Actividad" class="form-label">Clave del registro de asistente:</label>
          <input type="text" [(ngModel)]="RegistroAsistenciaActividad.Id_RegistroAsistente" class="form-control" placeholder="Ingresa el id del registro del asistente" name="Id_RegistroAsistente" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="Id_RegistroAsistente" class="form-label">Clave de la actividad:</label>
          <input type="text" [(ngModel)]="RegistroAsistenciaActividad.Id_Actividad" class="form-control" placeholder="Ingresa el id de la actividad" name="Id_Actividad" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="" class="form-label">Asistio al evento</label>
          <input type="text" [(ngModel)]="RegistroAsistenciaActividad.Estatus_Asistencia" class="form-control" placeholder="1=Si o 0=No" name="Estatus_Asistencia" required>
        </div>
        <!-- Button trigger modal --><br>
        <p id="centrado">
          <button type="button" (click)="saveNewAsistencia()" onclick="location.href='/convocatoria'" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Aceptar
    </button>
        </p>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Mensaje</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href='/convocatoria'">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/convocatoria'">Descargar Constancia</button>
          </div>
        </div>
      </div>
    </div>


    
      </form><br>
    </div>
    </div><br><br><br><br><br><br><br><br><br>
  </body>