 <!--Informacion de la pagina-->
 <body>
    <h1 id="titulo" class="h3 mb-4 text-gray-800">Eventos</h1>
    <hr>
    <div class="card shadow mb-4">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-primary" role="alert">
          <p class="card-text">Esta es una tabla es donde se puede consultar el nombre, hora y lugar de los eventos de la exposicion.</p>
        <p class="card-text"><small class="text-muted"></small></p>
        </div>
        
      </div>
      <div align="center" id="eventos">
        <form id="form" class="form">
          <!-------------------------------------------Tabla de eventos------------------------------------------>
          <div id="TablaEventos" class="table-container">
            <table class="table table-hover table-custom border-radius-total-5 no-margin" id="tablelistaReservas">
              <thead class="backGris-light-be">
                <tr class="s20">
                  <th class="no-borders">EVENTO</th>
                  <th class="no-borders">HORARIO</th>
                  <th class="no-borders">LUGAR</th>
                </tr>
              </thead>
              <tbody class="backWhite">
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 1</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 2</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 3</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 4</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 5</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 6</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 7</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 8</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight"> 
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 9</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
                <tr id="check" class="s18 colorGrayLight">
                  <td class="no-pad-top no-pad-bot align-middle">EVENTO 10</td>
                  <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                  <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
    </div><br><br>
  </body>