
 <!--Informacion de la pagina-->
 <body>
    <h1 id="titulo" class="h3 mb-4 text-gray-800">Convocatoria</h1>
    <hr>
    <div class="card shadow mb-4">
  <div class="card">
      <div class="card-body">
        <div class="alert alert-primary" role="alert">
          <p class="card-text">Se invita a los alumnos y maestros de la UTNG, Campus Dolores Hidalgo
            y Victoria de los programas de TSU y Licenciaturas del área
            Económico-Administrativo a participar en la Quinta expo virtual 2021,
            “EMPRENDE TÚ FUTURO” y se un Águila en los Negocios, que se
            llevará a cabo los días 4, 5 y 6 de agosto del 2021.</p>
          <p class="card-text"><small class="text-muted">CATEGORÍAS DE PARTICIPACIÓN<br></small>• Carteles<br>
            • Prototipos<br>
            • Plan de Negocios</p>
        </div>
        
      </div>
      <div align="center">
        <img id="croquis" src="./assets/pics/emprende.JPG"  height="300px" width="450px" alt="...">
      </div>
    </div>
    </div><br><br><br><br>
    
  </body>