<div id="cuerpo"><br>
    <h1 id="titulo" text-aling="center" class="h3 mb-4 text-gray-800">Inscripción</h1>
    <hr>
    <div class="card shadow mb-4">
      <nav id="paginacion" aria-label="Page navigation example">
        <ul class="pagination">
          <li id="boton" class="page-item"><a class="page-link" href="/inscripcion">Eventos</a></li>
          <li id="boton" class="page-item"><a class="page-link" href="/inscripcionDatos">Datos Personales</a></li>
        </ul>
      </nav>
      <form id="form" class="form">
        <!-------------------------------------------Tabla de eventos------------------------------------------>
        <div id="TablaEventos" class="table-container">
          <table class="table table-hover table-custom border-radius-total-5 no-margin" id="tablelistaReservas">
            <thead class="backGris-light-be">
              <tr class="s20">
                <th class="no-borders">SELECCIONADOR</th>
                <th class="no-borders">EVENTO</th>
                <th class="no-borders">HORARIO</th>
                <th class="no-borders">LUGAR</th>
              </tr>
            </thead>
            <tbody class="backWhite">
              <tr id="check" class="s18 colorGrayLight">
                <td class="no-pad-top no-pad-bot align-middle">
                  <div id="check" class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
                    <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
                    <label class="s18 text-normal"></label>
                  </div>
                </td> 
                <td class="no-pad-top no-pad-bot align-middle">EVENTO 1</td>
                <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
              </tr>
              <tr id="check" class="s18 colorGrayLight">
                <td class="no-pad-top no-pad-bot align-middle">
                  <div id="check" class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
                    <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
                    <label class="s18 text-normal"></label>
                  </div>
                </td> 
                <td class="no-pad-top no-pad-bot align-middle">EVENTO 2</td>
                <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
              </tr>
              <tr id="check" class="s18 colorGrayLight">
                <td class="no-pad-top no-pad-bot align-middle">
                  <div id="check" class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
                    <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
                    <label class="s18 text-normal"></label>
                  </div>
                </td> 
                <td class="no-pad-top no-pad-bot align-middle">EVENTO 3</td>
                <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
              </tr>
              <tr id="check" class="s18 colorGrayLight">
                <td class="no-pad-top no-pad-bot align-middle">
                  <div id="check" class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
                    <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
                    <label class="s18 text-normal"></label>
                  </div>
                </td> 
                <td class="no-pad-top no-pad-bot align-middle">EVENTO 4</td>
                <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
              </tr>
              <tr id="check" class="s18 colorGrayLight">
                <td class="no-pad-top no-pad-bot align-middle">
                  <div id="check" class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
                    <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
                    <label class="s18 text-normal"></label>
                  </div>
                </td> 
                <td class="no-pad-top no-pad-bot align-middle">EVENTO 5</td>
                <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
              </tr>
              <tr id="check" class="s18 colorGrayLight">
                <td class="no-pad-top no-pad-bot align-middle">
                  <div id="check" class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
                    <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
                    <label class="s18 text-normal"></label>
                  </div>
                </td> 
                <td class="no-pad-top no-pad-bot align-middle">EVENTO 6</td>
                <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
              </tr>
              <tr id="check" class="s18 colorGrayLight">
                <td class="no-pad-top no-pad-bot align-middle">
                  <div id="check" class="margin-l-15 checkbox checkboxStyle-table checkColorGreenLight">
                    <input type="checkbox" class="tableid" name="tableid" id="tableid" class="click">
                    <label class="s18 text-normal"></label>
                  </div>
                </td> 
                <td class="no-pad-top no-pad-bot align-middle">EVENTO 7</td>
                <td class="no-pad-top no-pad-bot align-middle">00:00</td>
                <td class="no-pad-top no-pad-bot align-middle">CAMPUS DOLORES</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div><br><br>
  </div>
  